body {
    font-family: Arial, sans-serif;
    background-color: #0a0d23;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-container {
    width: 65%;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;    
    text-align: left;
}

p {
    font-size: 14px;
    color: #b0b3c3;    
    text-align: left;
}

.profile-card {
    background-color: #1a1f38;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-info {
    text-align: left;
}

.profile-info h2 {
    margin: 0;
    font-size: 18px;
}

.profile-info p {
    margin: 5px 0;
}

.profile-info a {
    color: #4c6ef5;
    text-decoration: none;
}

.profile-bio {
    text-align: left;
}

.profile-bio h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.profile-bio p {
    margin: 5px 0;
}

.subscription {
    margin-top: 15px;
    color: #b0b3c3;
}

.profile-footer {
    margin-top: 20px;
}

.profile-footer a {
    color: #b0b3c3;
    text-decoration: none;
    margin: 0 10px;
    font-size: 12px;
}

.edit-profile-btn {
    background-color: #3b5bdb;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 14px;
}

.edit-profile-btn:hover {
    background-color: #4c6ef5;
}


#divBtn{
    margin-left: 56%;
}

#divBtn, #dvTxt {
    display: inline-block;    
  }